body nav div ul > li{
	padding: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-decoration: none;
}

body nav div ul li a img, 
body nav div ul li a h3, 
body nav a img{
	margin: 0 20px 0 0;
}

.logotipo{
	width: 60px;
	height: 60px;
}

.header{
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.centrado{
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(244, 244, 244, 0.79);
}

.description{
	position: absolute;
	top: 30%;
	padding: 2em;
}

#titulo{
	margin-left: 25%;
        color: #000000;
        background: #FFFFFF;
        text-shadow: 2px 2px 0 #bcbcbc, 4px 4px 0 #9c9c9c;
}

.description .practica {
     font-weight: bold;
     color: #c99806;
     font-style: normal;
}

.description p{
	color:#666666;
 	font-size: 20px;
	width: 50%;
	line-height: 1.5;
	margin-left: 25%;
	margin-top: 10px;
}